---
layout: default
---
<section id="lists">
  <div class="container">
    <h2>Directory structure</h2>
    <p>Partials are organzied by components, mixins, and variables. Mixins
    and variables should not include any Sass that actually output <code>CSS</code>.</p>

    <div class="example">
      {% highlight html %}
        {% include html/directory.html %}
      {% endhighlight %}
    </div>

    <h2>Primary stylesheet</h2>
    <p>The primary stylesheet <code>basement.scss</code> allows you to keep everything
       nice and clean. <strong>The order is very important!</strong> Stylesheets read from top to bottom,
      and styles are applied on top of one another.</p>

    <div class="example">
      {% highlight scss %}
        {% include scss/basement.scss %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section id="lists">
  <div class="container">
    <h2>Lists</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <div class="example">
      <ul class="clean-list">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </div>

    <div class="example html">
      {% highlight html %}
        {% include html/list.html %}
      {% endhighlight %}
    </div>

    <div class="example scss">
      {% highlight scss %}
        {% include scss/list.scss %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section id="headers">
  <div class="container">
    <h2>Headers</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <div class="example">
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
    </div>

    <div class="example html">
      {% highlight html %}
        {% include html/headers.html %}
      {% endhighlight %}
    </div>

    <div class="example scss">
      {% highlight scss %}
        {% include scss/headers.scss %}
      {% endhighlight %}
    </div>
  </div>
</section>
