<footer>
  <div class="container">
    <h4>Resources</h4>
    <ul class="clean-list">
      <li><a href="http://thesassway.com/beginner/how-to-structure-a-sass-project" target="_blank">How to structure a Sass project</a></li>
      <li><a href="https://github.com/necolas/idiomatic-css" target="_blank">Principles of writing consistent, idiomatic CSS</a></li>
      <li><a href="http://necolas.github.io/normalize.css/" target="_blank">Normalize</a></li>
      <li><a href="http://typekit.com" target="_blank">Typekit</a></li>
    </ul>
  </div>
</footer>
