<nav>
  <ul class="nav-list">
    <li {% if page.part-1 %}class="current"{% endif %}>
      <a class="nav-item" href="{{ site.baseurl }}/">
        <h4 class="date">Part 1</h4> Organize
      </a>
    </li>

    <li {% if page.part-2 %}class="current"{% endif %}>
      <a class="nav-item add-border" href="{{ site.baseurl }}/part-2/">
        <h4 class="date">Part 2</h4> Naming
      </a>
    </li>

    <li {% if page.part-3 %}class="current"{% endif %}>
      <a class="nav-item" href="{{ site.baseurl }}/part-3/">
        <h4 class="date">Part 3</h4> Sass
      </a>
    </li>
  </ul>
</nav>
