<nav>
  <ul class="nav-list">
    <li {% if page.day-1 %}class="current"{% endif %}>
      <a class="nav-item" href="{{ site.url }}/">
        <h4 class="date">November 7</h4> Day 1
      </a>
    </li>

    <li {% if page.day-2 %}class="current"{% endif %}>
      <a class="nav-item add-border" href="{{ site.url }}/day-2/">
        <h4 class="date">November 14</h4> Day 2
      </a>
    </li>

    <li {% if page.day-3 %}class="current"{% endif %}>
      <a class="nav-item" href="{{ site.url }}/day-3/">
        <h4 class="date">November 21</h4> Day 3
      </a>
    </li>
  </ul>
</nav>
