// Font Weights
$regular:  400;
$bold:     600;

// Base Font
$base-font: $regular 100%/1.5 "soleil", sans-serif;

// Header Font
$header-font: $bold 100%/1.25 "futura-pt", sans-serif;

// Colors
$primary-color:  #f68c00;
$white:          #fff;
$black:          #0b0e10;
$gray:           #f7f7f7;

$body-color:     #fff;
$border-light:   #eee;
$border-dark:    #ddd;

// Primary Button Color
$primary-button:                 $primary-color;
$primary-button-hover:           #bf6c00;
$primary-button-border:          darken($primary-color, 5%);
$primary-button-border-hover:    darken($primary-color, 10%);

// Secondary Button Color
$secondary-button:               #e8e8e8;
$secondary-button-hover:         #d6d6d6;
$secondary-button-border:        darken(#e8e8e8, 15%);

// Grid
$content-width: 32em;

// Medium screens
$medium: "(min-width: 40em)";

// Large screens
$large: "(min-width: 64em)";
