---
layout: default
title: Part 2
part-2: true
---
<section>
  <div class="container">
    <h2 id="reuseable-css">Reuseable CSS <a class="content-link icon-link" href="#reuseable-css"></a></h2>
    <p><a href="http://en.wikipedia.org/wiki/Don't_repeat_yourself" target="_blank">DRY</a> up your code! Repeating yourself leads to huge <code>CSS</code> files and unnecessary code bloat. Take the time to plan out your elements in a simple and reusable way. Reuse your classes and tag on additional classes when needed.</p>

    <p>Here’s some really repetitive code:</p>

    <div class="example css">
      <button class="copy-button">Copy</button>
      <div class='copy-area'>
        {% highlight scss %}
          {% include scss/repetitive.scss %}
        {% endhighlight %}
      </div>
    </div>

    <div class="example html">
      <button class="copy-button">Copy</button>
      <div class='copy-area'>
        {% highlight html %}
          {% include html/repetitive.html %}
        {% endhighlight %}
      </div>
    </div>

    <p>Lets DRY this up and make it a bit more reusable:</p>

    <div class="example css">
      <button class="copy-button">Copy</button>
      <div class='copy-area'>
        {% highlight scss %}
          {% include scss/reusable.scss %}
        {% endhighlight %}
      </div>
    </div>

    <div class="example html">
      <button class="copy-button">Copy</button>
      <div class='copy-area'>
        {% highlight html %}
          {% include html/reusable.html %}
        {% endhighlight %}
      </div>
    </div>

    <h2 id="bem">BEM Methodology <a class="content-link icon-link" href="#bem"></a></h2>
    <p>We can take our <code>HTML</code> and <code>CSS</code> a step further by using <a href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/" target="_blank">BEM (Block, Element, Modifier) methodology</a> with <code>is-state</code> <a href="https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md#is-stateOfComponent" target="_blank">SUIT naming conventions</a>. What you end up with is more meaningful class names that will make it easier for everyone to understand and work on.</p>

    <div class="example css">
      <button class="copy-button">Copy</button>
      <div class='copy-area'>
        {% highlight scss %}
          {% include scss/bem.scss %}
        {% endhighlight %}
      </div>
    </div>

    <p>Never style <code>is-state</code> classes directly; always use with adjoining class.</p>

    <div class="example css">
      <button class="copy-button">Copy</button>
      <div class='copy-area'>
        {% highlight scss %}
          {% include scss/bem-button.scss %}
        {% endhighlight %}
      </div>
    </div>

    <div class="example html">
      <button class="copy-button">Copy</button>
      <div class='copy-area'>
        {% highlight html %}
          {% include html/bem-button.html %}
        {% endhighlight %}
      </div>
    </div>

    <p>Here is an example of a schedule using BEM methodology with an element:</p>

    <div class="example css">
      <button class="copy-button">Copy</button>
      <div class='copy-area'>
        {% highlight scss %}
          {% include scss/bem-element.scss %}
        {% endhighlight %}
      </div>
    </div>

    <div class="example html">
      <button class="copy-button">Copy</button>
      <div class='copy-area'>
        {% highlight html %}
          {% include html/bem-element.html %}
        {% endhighlight %}
      </div>
    </div>
  </div>
</section>
