.copy-button {
  @include prefix-property(appearance, none);
  @include prefix-property(border-radius, 0 3px);
  @include prefix-property(transition, .2s);
  background-color: $white;
  border: none;
  border-bottom: 1px solid $border-light;
  border-left: 1px solid $border-light;
  color: $gray;
  cursor: pointer;
  font-size: .8em;
  outline: none;
  padding: .6em .8em;
  position: absolute;
  right: 0;
  top: 0;

  &.zeroclipboard-is-hover {
    background: $light-gray;
    color: $black;
  }
}
