/* ==========================================================================
   Layout
   ========================================================================== */

*,
*:before,
*:after {
  @include prefix-property(box-sizing, border-box);
}

body {
  background: $white;
  color: $black;
  font: $body-font;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  @media #{$medium} {
    font-size: 112%;
  }
}

.container {
  @extend %clearfix;
  margin: 0 auto;
  max-width: $content-width;
  padding: 1.5em 0;
  width: 90%;

  @media #{$medium} {
    padding: 2.5em 0;
  }
}

footer,
section {
  border-top: 1px solid $border-light;
}

/* ==========================================================================
   Header
   ========================================================================== */

.logo { font-size: 2em; }

/* ==========================================================================
   Hero
   ========================================================================== */

.hero {
  background: $black url("../images/stars.png") repeat;
  background-size: 700px 700px;
  color: $white;
  overflow: hidden;
  text-align: center;

  .container {
    padding: 2.5em 0;

    @media #{$medium} {
      padding: 4em 0;
    }
  }

  a { color: $yellow; }
}

/* ==========================================================================
   Nav
   ========================================================================== */

.remove-padding {
  width: 100%;
  padding: 0;

  @media #{$medium} {
    padding: 0;
  }
}

nav {
  @include prefix-property(border-radius, 3px);
  border: 1px solid #60645e;
  margin-top: 2.5em;
  overflow: hidden;

  .nav-list {
    @extend %clearfix;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .current .nav-item {
    background: #3e413d;
    color: $yellow;

    .date { color: $white; }
  }

  .nav-item {
    background: $black;
    @include prefix-property(transition, .2s);
    color: $medium-gray;
    float: left;
    padding: 1em;
    text-align: center;
    width: 33.33333%;
    text-decoration: none;

    &.add-border {
      border-left: 1px solid #60645e;
      border-right: 1px solid #60645e;
    }

    &:hover {
      background: #3e413d;
      color: $yellow;

      .date { color: $white; }
    }
  }

  .date {
    @include prefix-property(transition, .2s);
    color: $medium-gray;
    display: block;
    font-size: .75em;
    font-weight: $regular;
    white-space: nowrap;
  }
}

.nav-toggle {
  cursor: pointer;
  font-size: 1.8em;

  @media #{$medium} {
    display: none;
  }
}

/* ==========================================================================
   Footer
   ========================================================================== */

   footer {
    a { font-size: .9em; }
  }
