/* ==========================================================================
   Layout
   ========================================================================== */

*,
*:before,
*:after {
  @include prefix-property(box-sizing, border-box);
}

body {
  background: $white;
  color: $black;
  font: $body-font;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  @media #{$medium} {
    font-size: 112%;
  }
}

.container {
  margin: 0 auto;
  max-width: $content-width;
  padding: 1.5em 0;
  width: 90%;

  @media #{$medium} {
    padding: 2.5em 0;
  }
}

footer,
section {
  border-top: 1px solid $border-light;
}

/* ==========================================================================
   Header
   ========================================================================== */

.logo { font-size: 2em; }

.construction-label {
  border: 1px solid $gray;
  @include prefix-property(border-radius, 3px);
  color: $gray;
  display: inline-block;
  font-size: .9em;
  font-weight: $bold;
  margin-top: 1em;
  padding: .3em 1em;
}

/* ==========================================================================
   Hero
   ========================================================================== */

.hero {
  background: #363835 url("../images/stars.png") repeat;
  background-size: 800px 800px;
  color: $white;
  overflow: hidden;
  text-align: center;

  .container {
    padding: 2.5em 0;

    @media #{$medium} {
      padding: 6em 0;
    }
  }

  a { color: $yellow; }
}

/* ==========================================================================
   Nav
   ========================================================================== */

nav {
  @extend %clearfix;
  max-height: 0;
  overflow: hidden;

  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    cursor: pointer;

    &:hover { text-decoration: underline; }

    @media #{$medium} {
      float: left;
      margin-left: 1.5em;

      &:first-child { margin: 0; }
    }
  }

  &.is-open { max-height: 900px; }

  @media #{$medium} {
    display: block;
    max-height: 300px;
  }
}

.nav-toggle {
  cursor: pointer;
  font-size: 1.8em;

  @media #{$medium} {
    display: none;
  }
}

/* ==========================================================================
   Footer
   ========================================================================== */

   footer {
    a { font-size: .9em; }
  }
