/* ==========================================================================
   Icon Fonts
   ========================================================================== */

@font-face {
  font-family: "icomoon";
  src:url("../fonts/icomoon.eot?-62tdmz");
  src:url("../fonts/icomoon.eot?#iefix-62tdmz") format("embedded-opentype"),
    url("../fonts/icomoon.woff?-62tdmz") format("woff"),
    url("../fonts/icomoon.ttf?-62tdmz") format("truetype"),
    url("../fonts/icomoon.svg?-62tdmz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-link:before { content: "\e600"; }
.icon-toggle:before { content: "\e601"; }

/* ==========================================================================
   Headings
   ========================================================================== */

h1,
h2,
h3,
h4  {
  font: $header-font;
  margin-top: 0;
  margin-bottom: .5em;
}

h1 { font-size: 2.5em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.2em; }

h4 {
  font-size: .9em;
  letter-spacing: .0625em;
  margin-bottom: .3em;
  text-transform: uppercase;
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;

  &.lead {
    font-size: 1.2em;
    margin-bottom: .5em;
  }
}

.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

strong { font-weight: $bold; }

/* ==========================================================================
   Links
   ========================================================================== */

a {
  color: $black;
  text-decoration: underline;

  &:hover { text-decoration: none; }
}

.content-link {
  color: $gray;
  font-size: .65em;
  text-decoration: none;
  @include prefix-property(transition, color .2s);

  &:hover { color: $black; }
}
