// Block
.button {
  @include prefix-property(appearance, none);
  @include prefix-property(border-radius, 3px);
  border: none;
  color: $white;
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 1em 4em;
  text-align: center;
  text-decoration: none;
}

// Modifiers
.button--primary { background: #7099e8; }
.button--secondary { background: #e88370; }
