/* ==========================================================================
   Layout
   ========================================================================== */

/* Apply a natural box layout model to all elements, but allowing components to change */
html { box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  color: #333;
  font-family: 400 100%/1.5 "soleil", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 32em;
  padding: 1.5em 0;
  width: 90%;
}

/* ==========================================================================
   Header
   ========================================================================== */

header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.5em;
}

nav {
  float: right;
  padding: .5em;
}

/* ==========================================================================
   Typography
   ========================================================================== */

p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
  background: #333;
  padding: 1em; 0;
}
