.button-blue {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #7099e8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 1em 4em;
  text-align: center;
  text-decoration: none;
}

.button-red {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #e88370;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 1em 4em;
  text-align: center;
  text-decoration: none;
}
