.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: 700;
  margin: 0;
  padding: 1em 4em;
  text-align: center;
  text-decoration: none;
}

.blue { background: #7099e8; }
.red { background: #e88370; }
